*{
    background-color: #F7F7F7;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #424242;
}

.head{
    position: absolute;
    align-items: center;    
    top: 0px;
    left: 0px;
    width: 100%;
    height: 94px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 30px #7B7B7B29;
}
h1{
    background-color: #FFFFFF;
}
#task{
    padding-left: 100px;
    color: #424242;
    font-size: 40px;
    background-color: #FFFFFF;
}
#list{
    color: #00A5EC;
    font-size: 40px;
    background-color: #FFFFFF;
}

.item_button{
    display: inline-block;
}
.back{
    position: absolute;
    display: flex;
    top: 144px;
    left: 478px;
}
.link{
    padding-left: 10px;
}

.add{
    position: absolute;
    display: flex;
    top: 144px;
    left: 783px;
}
.colors{
    color: #00A5EC;    
}
.container{
    position: absolute;
    top: 184px;
    left: 433px;
    width: 500px;
    height: 338px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #67676729;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    cursor: pointer;
}

.item_head{
    padding-left: 20px;
    background-color: #FFFFFF;
} 
h2{
    color: #00A5EC;
    text-align: center;
    background-color: #FFFFFF;
}
.boxes{
    text-decoration: line-through;
    color: #C2C2C2;
    width: 153px;
    height: 21px;
    text-align: left;
    /* font: normal normal normal 18px/21px Inter; */
    letter-spacing: 0px;
}
.input_item{
    background-color: #FFFFFF;
}
input{
    width: 30px;
    height: 30px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 4px;  
    margin-top: 20px; 
    margin-left: 20px;
}
label{
    align-items: center;
}